body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.counter{
   
    background-color: black;
    color: white;
   text-align: center;
    height: 200px;
    width: 300px;
    border-radius: 10px;
}
button{
    height: 40px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    color: white;
    background-color: rgba(255, 51, 0, 0.795);
}