body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#root{
    width: 500px;
    height: 150px;
    background-color: rgb(186, 149, 149);
    padding: 20px 10px;
    text-align: center;
    border-radius: 5px;
}
.second{
    font-size: 20px;
}