body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(19, 45, 45);
}
#root{
    width: 500px;
    height: 450px;
    border: 2px solid black;
    background-color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
button{
    margin-left: 5px;
    background-color: rgb(6, 153, 104);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}