body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.heading{
    background-color: rgb(74, 74, 86);
    color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 50px;
    color: white;
    font-weight: bold;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}
img{
    height: 200px;
    border-radius: 50%;
}
.card{
    padding: 20px 10px;
    text-align: center;
    border: 2px black solid;
    margin-left: 20px;
    margin-top: 20px;
}

.bodyy{
    margin-top: 20px;
}
.inp{
    margin-left: 40vw;
    height: 25px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 15px;
}
.butt{
    height: 30px;
    width: 80px;
    border-radius: 5px;
    background-color: rgb(74, 74, 86);
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}