body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.header{
    display:flex;
    justify-content:space-between;
    margin-bottom: 20px;
}
.logo{
   position: relative;
   top: 10px;
   left: 80px;
}
.nav-buttons{
    padding: 20px;
    display: flex;
    gap: 15px;
}
.user-actions{
    padding: 20px;
    display: flex;
    gap: 15px;
}

input{
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid gray;
    padding-left: 10px;
    margin-top: 25px;
}

button{
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: white;
    font-size: 20px;
    font-style: bold;
    cursor:pointer;
}
.card{
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(219, 224, 223);
    justify-content: center;
}
.cardStyle{
    background-color: rgb(8, 71, 8);
    border-radius: 5px;
}
.sort{
    height: 50px;
    background-color: yellow;
    margin-left: 10px;
}